body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:3107px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u16919_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:1442px;
  height:862px;
}
#u16919 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:91px;
  width:1440px;
  height:860px;
  display:flex;
}
#u16919 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16919_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16920_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u16920 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:894px;
  width:23px;
  height:23px;
  display:flex;
}
#u16920 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16920_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16921_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u16921 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:897px;
  width:153px;
  height:16px;
  display:flex;
  color:#FFFFFF;
}
#u16921 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16921_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16922_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:987px;
}
#u16922 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:91px;
  width:1440px;
  height:987px;
  display:flex;
}
#u16922 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16922_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16923 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16924_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u16924 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:117px;
  width:40px;
  height:40px;
  display:flex;
}
#u16924 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16924_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16925_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u16925 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:122px;
  width:86px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u16925 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16925_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16926_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u16926 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:840px;
  width:409px;
  height:15px;
  display:flex;
  color:#FFFFFF;
}
#u16926 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16926_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16927_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:447px;
  height:440px;
}
#u16927 {
  border-width:0px;
  position:absolute;
  left:919px;
  top:286px;
  width:437px;
  height:430px;
  display:flex;
}
#u16927 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16927_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16928_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u16928 {
  border-width:0px;
  position:absolute;
  left:948px;
  top:319px;
  width:40px;
  height:40px;
  display:flex;
}
#u16928 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16928_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16929_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  color:#00A1E4;
}
#u16929 {
  border-width:0px;
  position:absolute;
  left:999px;
  top:327px;
  width:196px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  color:#00A1E4;
}
#u16929 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16929_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16930_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u16930 {
  border-width:0px;
  position:absolute;
  left:1255px;
  top:332px;
  width:48px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u16930 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16930_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16931_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:8px;
}
#u16931 {
  border-width:0px;
  position:absolute;
  left:1308px;
  top:339px;
  width:13px;
  height:8px;
  display:flex;
}
#u16931 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16931_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16932_input {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:38px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u16932_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:38px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u16932_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-left:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
}
#u16932 {
  border-width:0px;
  position:absolute;
  left:1017px;
  top:393px;
  width:304px;
  height:38px;
  display:flex;
}
#u16932 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16932_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:38px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-left:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
}
#u16932.disabled {
}
#u16933_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:38px;
  background:inherit;
  background-color:rgba(234, 241, 246, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
}
#u16933 {
  border-width:0px;
  position:absolute;
  left:954px;
  top:393px;
  width:63px;
  height:38px;
  display:flex;
}
#u16933 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16933_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16934_input {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:38px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u16934_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:38px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u16934_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-left:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
}
#u16934 {
  border-width:0px;
  position:absolute;
  left:1017px;
  top:458px;
  width:304px;
  height:38px;
  display:flex;
}
#u16934 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16934_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:38px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-left:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
}
#u16934.disabled {
}
#u16935_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:38px;
  background:inherit;
  background-color:rgba(234, 241, 246, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
}
#u16935 {
  border-width:0px;
  position:absolute;
  left:954px;
  top:458px;
  width:63px;
  height:38px;
  display:flex;
}
#u16935 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16935_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16936_input {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:38px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u16936_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:38px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u16936_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
}
#u16936 {
  border-width:0px;
  position:absolute;
  left:954px;
  top:520px;
  width:259px;
  height:38px;
  display:flex;
}
#u16936 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16936_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:38px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
}
#u16936.disabled {
}
#u16937_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:38px;
}
#u16937 {
  border-width:0px;
  position:absolute;
  left:1243px;
  top:520px;
  width:78px;
  height:38px;
  display:flex;
}
#u16937 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16937_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16938_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 161, 228, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 2px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u16938 {
  border-width:0px;
  position:absolute;
  left:954px;
  top:589px;
  width:367px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u16938 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16938_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16939_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#00A1E4;
}
#u16939 {
  border-width:0px;
  position:absolute;
  left:1210px;
  top:652px;
  width:111px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#00A1E4;
}
#u16939 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16939_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16940_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u16940 {
  border-width:0px;
  position:absolute;
  left:979px;
  top:405px;
  width:14px;
  height:15px;
  display:flex;
}
#u16940 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16940_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16941_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:14px;
}
#u16941 {
  border-width:0px;
  position:absolute;
  left:980px;
  top:470px;
  width:13px;
  height:14px;
  display:flex;
}
#u16941 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16941_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16942_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:1442px;
  height:862px;
}
#u16942 {
  border-width:0px;
  position:absolute;
  left:1667px;
  top:91px;
  width:1440px;
  height:860px;
  display:flex;
}
#u16942 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16942_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16943_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u16943 {
  border-width:0px;
  position:absolute;
  left:1685px;
  top:894px;
  width:23px;
  height:23px;
  display:flex;
}
#u16943 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16943_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16944_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u16944 {
  border-width:0px;
  position:absolute;
  left:1718px;
  top:897px;
  width:153px;
  height:16px;
  display:flex;
  color:#FFFFFF;
}
#u16944 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16944_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16945_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:987px;
}
#u16945 {
  border-width:0px;
  position:absolute;
  left:1667px;
  top:91px;
  width:1440px;
  height:987px;
  display:flex;
}
#u16945 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16945_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16946 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16947_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u16947 {
  border-width:0px;
  position:absolute;
  left:1796px;
  top:117px;
  width:40px;
  height:40px;
  display:flex;
}
#u16947 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16947_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16948_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u16948 {
  border-width:0px;
  position:absolute;
  left:1685px;
  top:122px;
  width:86px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u16948 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16948_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16949_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u16949 {
  border-width:0px;
  position:absolute;
  left:2183px;
  top:840px;
  width:409px;
  height:15px;
  display:flex;
  color:#FFFFFF;
}
#u16949 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16949_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16950_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:447px;
  height:440px;
}
#u16950 {
  border-width:0px;
  position:absolute;
  left:2586px;
  top:286px;
  width:437px;
  height:430px;
  display:flex;
}
#u16950 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16950_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16951_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u16951 {
  border-width:0px;
  position:absolute;
  left:2615px;
  top:319px;
  width:40px;
  height:40px;
  display:flex;
}
#u16951 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16951_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16952_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  color:#00A1E4;
}
#u16952 {
  border-width:0px;
  position:absolute;
  left:2666px;
  top:327px;
  width:196px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  color:#00A1E4;
}
#u16952 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16952_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16953_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u16953 {
  border-width:0px;
  position:absolute;
  left:2922px;
  top:332px;
  width:48px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u16953 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16953_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16954_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:8px;
}
#u16954 {
  border-width:0px;
  position:absolute;
  left:2975px;
  top:339px;
  width:13px;
  height:8px;
  display:flex;
}
#u16954 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16954_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16955_input {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:38px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u16955_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:38px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u16955_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
}
#u16955 {
  border-width:0px;
  position:absolute;
  left:2621px;
  top:405px;
  width:367px;
  height:38px;
  display:flex;
}
#u16955 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16955_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:38px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
}
#u16955.disabled {
}
#u16956_input {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:38px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u16956_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:38px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u16956_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
}
#u16956 {
  border-width:0px;
  position:absolute;
  left:2621px;
  top:459px;
  width:277px;
  height:38px;
  display:flex;
}
#u16956 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16956_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:38px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
}
#u16956.disabled {
}
#u16957_input {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:38px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u16957_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:38px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u16957_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
}
#u16957 {
  border-width:0px;
  position:absolute;
  left:2621px;
  top:513px;
  width:367px;
  height:38px;
  display:flex;
}
#u16957 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16957_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:38px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
}
#u16957.disabled {
}
#u16958_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 161, 228, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 2px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u16958 {
  border-width:0px;
  position:absolute;
  left:2621px;
  top:623px;
  width:367px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u16958 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16958_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16959_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:14px;
}
#u16959 {
  border-width:0px;
  position:absolute;
  left:2633px;
  top:473px;
  width:13px;
  height:14px;
  display:flex;
}
#u16959 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16959_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16960_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u16960 {
  border-width:0px;
  position:absolute;
  left:2621px;
  top:363px;
  width:247px;
  height:34px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u16960 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16960_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16961_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u16961 {
  border-width:0px;
  position:absolute;
  left:2632px;
  top:417px;
  width:14px;
  height:15px;
  display:flex;
}
#u16961 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16961_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16962_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(2, 161, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#02A1E4;
}
#u16962 {
  border-width:0px;
  position:absolute;
  left:2904px;
  top:459px;
  width:84px;
  height:38px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#02A1E4;
}
#u16962 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16962_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16963_input {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:38px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u16963_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:38px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u16963_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
}
#u16963 {
  border-width:0px;
  position:absolute;
  left:2621px;
  top:567px;
  width:367px;
  height:38px;
  display:flex;
}
#u16963 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16963_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:38px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
}
#u16963.disabled {
}
#u16964_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u16964 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:1928px;
  width:23px;
  height:23px;
  display:flex;
}
#u16964 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16964_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16965_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u16965 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:1931px;
  width:153px;
  height:16px;
  display:flex;
  color:#FFFFFF;
}
#u16965 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16965_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16966_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:987px;
}
#u16966 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1125px;
  width:1440px;
  height:987px;
  display:flex;
}
#u16966 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16966_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16967 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16968_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u16968 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:1151px;
  width:40px;
  height:40px;
  display:flex;
}
#u16968 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16968_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16969_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u16969 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:1156px;
  width:86px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u16969 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16969_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16970_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u16970 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:1874px;
  width:409px;
  height:15px;
  display:flex;
  color:#FFFFFF;
}
#u16970 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16970_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16971_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:967px;
  height:603px;
}
#u16971 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:1296px;
  width:957px;
  height:593px;
  display:flex;
}
#u16971 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16971_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16972_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u16972 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:1414px;
  width:127px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u16972 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16972_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16973_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:54px;
  background:inherit;
  background-color:rgba(170, 170, 170, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16973 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:1460px;
  width:272px;
  height:54px;
  display:flex;
}
#u16973 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16973_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16974_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:54px;
  background:inherit;
  background-color:rgba(170, 170, 170, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16974 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:1539px;
  width:272px;
  height:54px;
  display:flex;
}
#u16974 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16974_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16975_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:54px;
  background:inherit;
  background-color:rgba(170, 170, 170, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16975 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:1614px;
  width:272px;
  height:54px;
  display:flex;
}
#u16975 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16975_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16976_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:54px;
  background:inherit;
  background-color:rgba(170, 170, 170, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16976 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:1687px;
  width:272px;
  height:54px;
  display:flex;
}
#u16976 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16976_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
