body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:3107px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u16879_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:1442px;
  height:862px;
}
#u16879 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:91px;
  width:1440px;
  height:860px;
  display:flex;
}
#u16879 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16879_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16880_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u16880 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:894px;
  width:23px;
  height:23px;
  display:flex;
}
#u16880 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16880_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16881_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u16881 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:897px;
  width:153px;
  height:16px;
  display:flex;
  color:#FFFFFF;
}
#u16881 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16881_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16882_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:987px;
}
#u16882 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:91px;
  width:1440px;
  height:987px;
  display:flex;
}
#u16882 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16882_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16883 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16884_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u16884 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:117px;
  width:40px;
  height:40px;
  display:flex;
}
#u16884 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16884_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16885_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u16885 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:122px;
  width:86px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u16885 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16885_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16886_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u16886 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:840px;
  width:409px;
  height:15px;
  display:flex;
  color:#FFFFFF;
}
#u16886 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16886_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16887_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:447px;
  height:440px;
}
#u16887 {
  border-width:0px;
  position:absolute;
  left:919px;
  top:286px;
  width:437px;
  height:430px;
  display:flex;
}
#u16887 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16887_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16888_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u16888 {
  border-width:0px;
  position:absolute;
  left:948px;
  top:319px;
  width:40px;
  height:40px;
  display:flex;
}
#u16888 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16888_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16889_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  color:#00A1E4;
}
#u16889 {
  border-width:0px;
  position:absolute;
  left:999px;
  top:327px;
  width:196px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  color:#00A1E4;
}
#u16889 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16889_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16890_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u16890 {
  border-width:0px;
  position:absolute;
  left:1255px;
  top:332px;
  width:48px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u16890 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16890_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16891_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:8px;
}
#u16891 {
  border-width:0px;
  position:absolute;
  left:1308px;
  top:339px;
  width:13px;
  height:8px;
  display:flex;
}
#u16891 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16891_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16892_input {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:38px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u16892_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:38px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u16892_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-left:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
}
#u16892 {
  border-width:0px;
  position:absolute;
  left:1017px;
  top:393px;
  width:304px;
  height:38px;
  display:flex;
}
#u16892 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16892_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:38px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-left:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
}
#u16892.disabled {
}
#u16893_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:38px;
  background:inherit;
  background-color:rgba(234, 241, 246, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
}
#u16893 {
  border-width:0px;
  position:absolute;
  left:954px;
  top:393px;
  width:63px;
  height:38px;
  display:flex;
}
#u16893 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16893_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16894_input {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:38px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u16894_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:38px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u16894_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-left:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
}
#u16894 {
  border-width:0px;
  position:absolute;
  left:1017px;
  top:458px;
  width:304px;
  height:38px;
  display:flex;
}
#u16894 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16894_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:38px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-left:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
}
#u16894.disabled {
}
#u16895_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:38px;
  background:inherit;
  background-color:rgba(234, 241, 246, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
}
#u16895 {
  border-width:0px;
  position:absolute;
  left:954px;
  top:458px;
  width:63px;
  height:38px;
  display:flex;
}
#u16895 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16895_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16896_input {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:38px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u16896_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:38px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u16896_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
}
#u16896 {
  border-width:0px;
  position:absolute;
  left:954px;
  top:520px;
  width:259px;
  height:38px;
  display:flex;
}
#u16896 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16896_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:38px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
}
#u16896.disabled {
}
#u16897_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:38px;
}
#u16897 {
  border-width:0px;
  position:absolute;
  left:1243px;
  top:520px;
  width:78px;
  height:38px;
  display:flex;
}
#u16897 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16897_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16898_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 161, 228, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 2px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u16898 {
  border-width:0px;
  position:absolute;
  left:954px;
  top:589px;
  width:367px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u16898 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16898_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16899_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#00A1E4;
}
#u16899 {
  border-width:0px;
  position:absolute;
  left:1210px;
  top:652px;
  width:111px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#00A1E4;
}
#u16899 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16899_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16900_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u16900 {
  border-width:0px;
  position:absolute;
  left:979px;
  top:405px;
  width:14px;
  height:15px;
  display:flex;
}
#u16900 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16900_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16901_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:14px;
}
#u16901 {
  border-width:0px;
  position:absolute;
  left:980px;
  top:470px;
  width:13px;
  height:14px;
  display:flex;
}
#u16901 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16901_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16902_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:1442px;
  height:862px;
}
#u16902 {
  border-width:0px;
  position:absolute;
  left:1667px;
  top:91px;
  width:1440px;
  height:860px;
  display:flex;
}
#u16902 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16902_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16903_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u16903 {
  border-width:0px;
  position:absolute;
  left:1685px;
  top:894px;
  width:23px;
  height:23px;
  display:flex;
}
#u16903 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16903_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16904_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u16904 {
  border-width:0px;
  position:absolute;
  left:1718px;
  top:897px;
  width:153px;
  height:16px;
  display:flex;
  color:#FFFFFF;
}
#u16904 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16904_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16905_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:987px;
}
#u16905 {
  border-width:0px;
  position:absolute;
  left:1667px;
  top:91px;
  width:1440px;
  height:987px;
  display:flex;
}
#u16905 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16905_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16906 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16907_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u16907 {
  border-width:0px;
  position:absolute;
  left:1796px;
  top:117px;
  width:40px;
  height:40px;
  display:flex;
}
#u16907 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16907_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16908_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u16908 {
  border-width:0px;
  position:absolute;
  left:1685px;
  top:122px;
  width:86px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u16908 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16908_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16909_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u16909 {
  border-width:0px;
  position:absolute;
  left:2183px;
  top:840px;
  width:409px;
  height:15px;
  display:flex;
  color:#FFFFFF;
}
#u16909 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16909_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16910_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:447px;
  height:440px;
}
#u16910 {
  border-width:0px;
  position:absolute;
  left:2586px;
  top:286px;
  width:437px;
  height:430px;
  display:flex;
}
#u16910 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16910_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16911_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u16911 {
  border-width:0px;
  position:absolute;
  left:2615px;
  top:319px;
  width:40px;
  height:40px;
  display:flex;
}
#u16911 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16911_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16912_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  color:#00A1E4;
}
#u16912 {
  border-width:0px;
  position:absolute;
  left:2666px;
  top:327px;
  width:196px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  color:#00A1E4;
}
#u16912 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16912_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16913_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u16913 {
  border-width:0px;
  position:absolute;
  left:2922px;
  top:332px;
  width:48px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u16913 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16913_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16914_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:8px;
}
#u16914 {
  border-width:0px;
  position:absolute;
  left:2975px;
  top:339px;
  width:13px;
  height:8px;
  display:flex;
}
#u16914 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16914_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16915_input {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:38px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u16915_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:38px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u16915_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
}
#u16915 {
  border-width:0px;
  position:absolute;
  left:2621px;
  top:405px;
  width:367px;
  height:38px;
  display:flex;
}
#u16915 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16915_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:38px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
}
#u16915.disabled {
}
#u16916_input {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:38px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u16916_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:38px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u16916_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
}
#u16916 {
  border-width:0px;
  position:absolute;
  left:2621px;
  top:459px;
  width:277px;
  height:38px;
  display:flex;
}
#u16916 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16916_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:38px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
}
#u16916.disabled {
}
#u16917_input {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:38px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u16917_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:38px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u16917_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
}
#u16917 {
  border-width:0px;
  position:absolute;
  left:2621px;
  top:513px;
  width:367px;
  height:38px;
  display:flex;
}
#u16917 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16917_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:38px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
}
#u16917.disabled {
}
#u16918_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 161, 228, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 2px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u16918 {
  border-width:0px;
  position:absolute;
  left:2621px;
  top:623px;
  width:367px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u16918 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16918_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16919_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:14px;
}
#u16919 {
  border-width:0px;
  position:absolute;
  left:2633px;
  top:473px;
  width:13px;
  height:14px;
  display:flex;
}
#u16919 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16919_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16920_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u16920 {
  border-width:0px;
  position:absolute;
  left:2621px;
  top:363px;
  width:247px;
  height:34px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u16920 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16920_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16921_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u16921 {
  border-width:0px;
  position:absolute;
  left:2632px;
  top:417px;
  width:14px;
  height:15px;
  display:flex;
}
#u16921 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16921_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16922_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(2, 161, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#02A1E4;
}
#u16922 {
  border-width:0px;
  position:absolute;
  left:2904px;
  top:459px;
  width:84px;
  height:38px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#02A1E4;
}
#u16922 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16922_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16923_input {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:38px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u16923_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:38px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u16923_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
}
#u16923 {
  border-width:0px;
  position:absolute;
  left:2621px;
  top:567px;
  width:367px;
  height:38px;
  display:flex;
}
#u16923 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16923_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:38px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137);
}
#u16923.disabled {
}
#u16924_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u16924 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:1928px;
  width:23px;
  height:23px;
  display:flex;
}
#u16924 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16924_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16925_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u16925 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:1931px;
  width:153px;
  height:16px;
  display:flex;
  color:#FFFFFF;
}
#u16925 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16925_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16926_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:987px;
}
#u16926 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1125px;
  width:1440px;
  height:987px;
  display:flex;
}
#u16926 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16926_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16927 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16928_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u16928 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:1151px;
  width:40px;
  height:40px;
  display:flex;
}
#u16928 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16928_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16929_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u16929 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:1156px;
  width:86px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u16929 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16929_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16930_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u16930 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:1874px;
  width:409px;
  height:15px;
  display:flex;
  color:#FFFFFF;
}
#u16930 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16930_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16931_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:967px;
  height:603px;
}
#u16931 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:1296px;
  width:957px;
  height:593px;
  display:flex;
}
#u16931 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16931_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16932_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u16932 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:1414px;
  width:127px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u16932 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16932_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16933_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:54px;
  background:inherit;
  background-color:rgba(170, 170, 170, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16933 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:1460px;
  width:272px;
  height:54px;
  display:flex;
}
#u16933 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16933_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16934_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:54px;
  background:inherit;
  background-color:rgba(170, 170, 170, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16934 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:1539px;
  width:272px;
  height:54px;
  display:flex;
}
#u16934 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16934_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16935_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:54px;
  background:inherit;
  background-color:rgba(170, 170, 170, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16935 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:1614px;
  width:272px;
  height:54px;
  display:flex;
}
#u16935 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16935_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16936_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:54px;
  background:inherit;
  background-color:rgba(170, 170, 170, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16936 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:1687px;
  width:272px;
  height:54px;
  display:flex;
}
#u16936 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16936_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
