body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-17px;
  width:1577px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u24086_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:299px;
}
#u24086 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:156px;
  width:71px;
  height:299px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#FFFFFF;
}
#u24086 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24086_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24087_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:172px;
}
#u24087 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:454px;
  width:71px;
  height:172px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u24087 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24087_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24088_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:118px;
}
#u24088 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:625px;
  width:71px;
  height:118px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u24088 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24088_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24089_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u24089 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:247px;
  width:124px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u24089 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24089_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24090_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u24090 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:320px;
  width:124px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u24090 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24090_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24091_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u24091 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:320px;
  width:124px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u24091 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24091_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24092_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u24092 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:320px;
  width:124px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u24092 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24092_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24093 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:336px;
  width:0px;
  height:0px;
}
#u24093_seg0 {
  border-width:0px;
  position:absolute;
  left:-189px;
  top:-5px;
  width:194px;
  height:10px;
}
#u24093_seg1 {
  border-width:0px;
  position:absolute;
  left:-197px;
  top:-9px;
  width:18px;
  height:18px;
}
#u24093_text {
  border-width:0px;
  position:absolute;
  left:-144px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24094 {
  border-width:0px;
  position:absolute;
  left:790px;
  top:336px;
  width:0px;
  height:0px;
}
#u24094_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:182px;
  height:10px;
}
#u24094_seg1 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:-9px;
  width:18px;
  height:18px;
}
#u24094_text {
  border-width:0px;
  position:absolute;
  left:38px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24095 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:279px;
  width:0px;
  height:0px;
}
#u24095_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:46px;
}
#u24095_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:31px;
  width:18px;
  height:18px;
}
#u24095_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24096_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u24096 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:394px;
  width:124px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u24096 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24096_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24097 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:352px;
  width:0px;
  height:0px;
}
#u24097_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:63px;
}
#u24097_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:53px;
  width:230px;
  height:10px;
}
#u24097_seg2 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:49px;
  width:18px;
  height:18px;
}
#u24097_text {
  border-width:0px;
  position:absolute;
  left:34px;
  top:50px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24098 {
  border-width:0px;
  position:absolute;
  left:1029px;
  top:352px;
  width:0px;
  height:0px;
}
#u24098_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:63px;
}
#u24098_seg1 {
  border-width:0px;
  position:absolute;
  left:-239px;
  top:53px;
  width:244px;
  height:10px;
}
#u24098_seg2 {
  border-width:0px;
  position:absolute;
  left:-247px;
  top:49px;
  width:18px;
  height:18px;
}
#u24098_text {
  border-width:0px;
  position:absolute;
  left:-140px;
  top:50px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24099_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u24099 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:663px;
  width:170px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u24099 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24099_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24100_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u24100 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:587px;
  width:136px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u24100 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24100_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24101_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u24101 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:663px;
  width:136px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u24101 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24101_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24102 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:679px;
  width:0px;
  height:0px;
}
#u24102_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:165px;
  height:10px;
}
#u24102_seg1 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:-9px;
  width:18px;
  height:18px;
}
#u24102_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24103_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u24103 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:663px;
  width:25px;
  height:17px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u24103 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24103_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24104_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:573px;
  background:-webkit-linear-gradient(270deg, rgba(90, 56, 149, 1) 0%, rgba(92, 88, 100, 1) 99%);
  background:-moz-linear-gradient(180deg, rgba(90, 56, 149, 1) 0%, rgba(92, 88, 100, 1) 99%);
  background:linear-gradient(180deg, rgba(90, 56, 149, 1) 0%, rgba(92, 88, 100, 1) 99%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u24104 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:866px;
  width:71px;
  height:573px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u24104 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24104_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24105_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:125px;
  background:-webkit-linear-gradient(180deg, rgba(85, 142, 215, 1) 50%, rgba(24, 144, 255, 1) 98%);
  background:-moz-linear-gradient(270deg, rgba(85, 142, 215, 1) 50%, rgba(24, 144, 255, 1) 98%);
  background:linear-gradient(270deg, rgba(85, 142, 215, 1) 50%, rgba(24, 144, 255, 1) 98%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u24105 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:742px;
  width:71px;
  height:125px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u24105 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24105_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24106_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u24106 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:789px;
  width:128px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u24106 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24106_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24107_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u24107 {
  border-width:0px;
  position:absolute;
  left:1095px;
  top:787px;
  width:113px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u24107 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24107_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:61px;
}
#u24108 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:957px;
  width:148px;
  height:61px;
  display:flex;
}
#u24108 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24108_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24109_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u24109 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:972px;
  width:170px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u24109 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24109_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24110 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:988px;
  width:0px;
  height:0px;
}
#u24110_seg0 {
  border-width:0px;
  position:absolute;
  left:-166px;
  top:-5px;
  width:171px;
  height:10px;
}
#u24110_seg1 {
  border-width:0px;
  position:absolute;
  left:-174px;
  top:-9px;
  width:18px;
  height:18px;
}
#u24110_text {
  border-width:0px;
  position:absolute;
  left:-133px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u24111_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u24111 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:1336px;
  width:94px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u24111 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24111_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24112 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:1004px;
  width:0px;
  height:0px;
}
#u24112_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:337px;
}
#u24112_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:322px;
  width:18px;
  height:18px;
}
#u24112_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:158px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24113 {
  border-width:0px;
  position:absolute;
  left:1031px;
  top:821px;
  width:0px;
  height:0px;
}
#u24113_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:64px;
}
#u24113_seg1 {
  border-width:0px;
  position:absolute;
  left:-296px;
  top:54px;
  width:301px;
  height:10px;
}
#u24113_seg2 {
  border-width:0px;
  position:absolute;
  left:-296px;
  top:54px;
  width:10px;
  height:82px;
}
#u24113_seg3 {
  border-width:0px;
  position:absolute;
  left:-300px;
  top:126px;
  width:18px;
  height:18px;
}
#u24113_text {
  border-width:0px;
  position:absolute;
  left:-204px;
  top:51px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24114 {
  border-width:0px;
  position:absolute;
  left:796px;
  top:679px;
  width:0px;
  height:0px;
}
#u24114_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:240px;
  height:10px;
}
#u24114_seg1 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:-5px;
  width:10px;
  height:115px;
}
#u24114_seg2 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:100px;
  width:18px;
  height:18px;
}
#u24114_text {
  border-width:0px;
  position:absolute;
  left:122px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24115_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:183px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u24115 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:1092px;
  width:304px;
  height:183px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u24115 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24115_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24116 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:1018px;
  width:0px;
  height:0px;
}
#u24116_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:79px;
}
#u24116_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:64px;
  width:18px;
  height:18px;
}
#u24116_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:30px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u24117_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u24117 {
  border-width:0px;
  position:absolute;
  left:654px;
  top:1336px;
  width:136px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u24117 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24117_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24118_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u24118 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:1368px;
  width:312px;
  height:140px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u24118 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24118_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24119 {
  border-width:0px;
  position:absolute;
  left:462px;
  top:1352px;
  width:0px;
  height:0px;
}
#u24119_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:197px;
  height:10px;
}
#u24119_seg1 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:-9px;
  width:18px;
  height:18px;
}
#u24119_text {
  border-width:0px;
  position:absolute;
  left:46px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24120_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:32px;
  background:inherit;
  background-color:rgba(53, 170, 66, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u24120 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:789px;
  width:136px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u24120 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24120_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24121 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:805px;
  width:0px;
  height:0px;
}
#u24121_seg0 {
  border-width:0px;
  position:absolute;
  left:-171px;
  top:-5px;
  width:176px;
  height:10px;
}
#u24121_seg1 {
  border-width:0px;
  position:absolute;
  left:-179px;
  top:-9px;
  width:18px;
  height:18px;
}
#u24121_text {
  border-width:0px;
  position:absolute;
  left:-136px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24122_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u24122 {
  border-width:0px;
  position:absolute;
  left:867px;
  top:789px;
  width:25px;
  height:17px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u24122 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24122_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24123_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u24123 {
  border-width:0px;
  position:absolute;
  left:477px;
  top:1335px;
  width:25px;
  height:17px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u24123 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24123_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24124 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:454px;
  width:0px;
  height:0px;
}
#u24124_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:861px;
  height:10px;
}
#u24124_text {
  border-width:0px;
  position:absolute;
  left:378px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24125 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:625px;
  width:0px;
  height:0px;
}
#u24125_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:861px;
  height:10px;
}
#u24125_text {
  border-width:0px;
  position:absolute;
  left:378px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24126 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:742px;
  width:0px;
  height:0px;
}
#u24126_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:861px;
  height:10px;
}
#u24126_text {
  border-width:0px;
  position:absolute;
  left:378px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24127 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:866px;
  width:0px;
  height:0px;
}
#u24127_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:861px;
  height:10px;
}
#u24127_text {
  border-width:0px;
  position:absolute;
  left:378px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1228px;
}
#u24128 {
  border-width:0px;
  position:absolute;
  left:1170px;
  top:212px;
  width:1px;
  height:1227px;
  display:flex;
}
#u24128 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24128_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:867px;
  height:2px;
}
#u24129 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:1440px;
  width:866px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.181225881814287deg);
  -moz-transform:rotate(0.181225881814287deg);
  -ms-transform:rotate(0.181225881814287deg);
  transform:rotate(0.181225881814287deg);
}
#u24129 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24129_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:865px;
  height:2px;
}
#u24130 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:208px;
  width:864px;
  height:1px;
  display:flex;
}
#u24130 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24130_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1228px;
}
#u24131 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:208px;
  width:1px;
  height:1227px;
  display:flex;
}
#u24131 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24131_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1228px;
}
#u24132 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:208px;
  width:1px;
  height:1227px;
  display:flex;
}
#u24132 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24132_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24133_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:52px;
  background:-webkit-linear-gradient(270deg, rgba(111, 150, 210, 1) 0%, rgba(197, 198, 204, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(111, 150, 210, 1) 0%, rgba(197, 198, 204, 1) 100%);
  background:linear-gradient(180deg, rgba(111, 150, 210, 1) 0%, rgba(197, 198, 204, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24133 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:156px;
  width:248px;
  height:52px;
  display:flex;
}
#u24133 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24133_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24134_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:53px;
  background:-webkit-linear-gradient(270deg, rgba(106, 76, 227, 1) 0%, rgba(240, 235, 235, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(106, 76, 227, 1) 0%, rgba(240, 235, 235, 1) 100%);
  background:linear-gradient(180deg, rgba(106, 76, 227, 1) 0%, rgba(240, 235, 235, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24134 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:156px;
  width:376px;
  height:53px;
  display:flex;
}
#u24134 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24134_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24135_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:53px;
  background:-webkit-linear-gradient(270deg, rgba(236, 179, 27, 1) 10%, rgba(161, 157, 157, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(236, 179, 27, 1) 10%, rgba(161, 157, 157, 1) 100%);
  background:linear-gradient(180deg, rgba(236, 179, 27, 1) 10%, rgba(161, 157, 157, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24135 {
  border-width:0px;
  position:absolute;
  left:931px;
  top:156px;
  width:240px;
  height:53px;
  display:flex;
}
#u24135 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24135_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24136_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u24136 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:170px;
  width:52px;
  height:21px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u24136 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24136_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24137_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-style:normal;
  color:#FFFFFF;
}
#u24137 {
  border-width:0px;
  position:absolute;
  left:684px;
  top:170px;
  width:77px;
  height:25px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-style:normal;
  color:#FFFFFF;
}
#u24137 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24137_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24138_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u24138 {
  border-width:0px;
  position:absolute;
  left:1015px;
  top:172px;
  width:73px;
  height:21px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u24138 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24138_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24139_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u24139 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:279px;
  width:84px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u24139 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24139_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24140_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u24140 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:410px;
  width:198px;
  height:100px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u24140 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24140_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24141_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u24141 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:306px;
  width:198px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u24141 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24141_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24142_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:214px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-style:normal;
}
#u24142 {
  border-width:0px;
  position:absolute;
  left:1210px;
  top:156px;
  width:384px;
  height:214px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-style:normal;
}
#u24142 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24142_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24143_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:32px;
  background:inherit;
  background-color:rgba(53, 170, 66, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u24143 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:460px;
  width:136px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u24143 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24143_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24144_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u24144 {
  border-width:0px;
  position:absolute;
  left:1208px;
  top:787px;
  width:75px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u24144 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24144_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24145_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u24145 {
  border-width:0px;
  position:absolute;
  left:818px;
  top:460px;
  width:113px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u24145 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24145_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24146_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:626px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u24146 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:1660px;
  width:626px;
  height:80px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u24146 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24146_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24147_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u24147 {
  border-width:0px;
  position:absolute;
  left:1208px;
  top:915px;
  width:1px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u24147 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24147_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u24148_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u24148 {
  border-width:0px;
  position:absolute;
  left:606px;
  top:1540px;
  width:155px;
  height:80px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u24148 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24148_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24149_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u24149 {
  border-width:0px;
  position:absolute;
  left:643px;
  top:512px;
  width:170px;
  height:56px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u24149 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24149_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24150 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:492px;
  width:0px;
  height:0px;
}
#u24150_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:25px;
}
#u24150_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:10px;
  width:18px;
  height:18px;
}
#u24150_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:2px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24151 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:568px;
  width:0px;
  height:0px;
}
#u24151_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:24px;
}
#u24151_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:9px;
  width:18px;
  height:18px;
}
#u24151_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:2px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24152_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u24152 {
  border-width:0px;
  position:absolute;
  left:818px;
  top:1540px;
  width:183px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u24152 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24152_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24153_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u24153 {
  border-width:0px;
  position:absolute;
  left:1029px;
  top:1485px;
  width:290px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u24153 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24153_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24154_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u24154 {
  border-width:0px;
  position:absolute;
  left:1306px;
  top:787px;
  width:211px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u24154 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24154_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24155_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u24155 {
  border-width:0px;
  position:absolute;
  left:1210px;
  top:332px;
  width:144px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u24155 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24155_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
