body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-17px;
  width:1577px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u20816_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:299px;
}
#u20816 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:156px;
  width:71px;
  height:299px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#FFFFFF;
}
#u20816 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20816_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20817_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:172px;
}
#u20817 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:454px;
  width:71px;
  height:172px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u20817 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20817_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20818_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:118px;
}
#u20818 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:625px;
  width:71px;
  height:118px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u20818 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20818_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20819_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u20819 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:247px;
  width:124px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u20819 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20819_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20820_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u20820 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:320px;
  width:124px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u20820 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20820_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20821_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u20821 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:320px;
  width:124px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u20821 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20821_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20822_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u20822 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:320px;
  width:124px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u20822 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20822_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20823 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:336px;
  width:0px;
  height:0px;
}
#u20823_seg0 {
  border-width:0px;
  position:absolute;
  left:-189px;
  top:-5px;
  width:194px;
  height:10px;
}
#u20823_seg1 {
  border-width:0px;
  position:absolute;
  left:-197px;
  top:-9px;
  width:18px;
  height:18px;
}
#u20823_text {
  border-width:0px;
  position:absolute;
  left:-144px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20824 {
  border-width:0px;
  position:absolute;
  left:790px;
  top:336px;
  width:0px;
  height:0px;
}
#u20824_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:182px;
  height:10px;
}
#u20824_seg1 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:-9px;
  width:18px;
  height:18px;
}
#u20824_text {
  border-width:0px;
  position:absolute;
  left:38px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20825 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:279px;
  width:0px;
  height:0px;
}
#u20825_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:46px;
}
#u20825_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:31px;
  width:18px;
  height:18px;
}
#u20825_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20826_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u20826 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:394px;
  width:124px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u20826 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20826_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20827 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:352px;
  width:0px;
  height:0px;
}
#u20827_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:63px;
}
#u20827_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:53px;
  width:230px;
  height:10px;
}
#u20827_seg2 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:49px;
  width:18px;
  height:18px;
}
#u20827_text {
  border-width:0px;
  position:absolute;
  left:34px;
  top:50px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20828 {
  border-width:0px;
  position:absolute;
  left:1029px;
  top:352px;
  width:0px;
  height:0px;
}
#u20828_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:63px;
}
#u20828_seg1 {
  border-width:0px;
  position:absolute;
  left:-239px;
  top:53px;
  width:244px;
  height:10px;
}
#u20828_seg2 {
  border-width:0px;
  position:absolute;
  left:-247px;
  top:49px;
  width:18px;
  height:18px;
}
#u20828_text {
  border-width:0px;
  position:absolute;
  left:-140px;
  top:50px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20829_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u20829 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:663px;
  width:170px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u20829 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20829_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20830_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u20830 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:587px;
  width:136px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u20830 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20830_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20831_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u20831 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:663px;
  width:136px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u20831 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20831_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20832 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:679px;
  width:0px;
  height:0px;
}
#u20832_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:165px;
  height:10px;
}
#u20832_seg1 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:-9px;
  width:18px;
  height:18px;
}
#u20832_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20833_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u20833 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:663px;
  width:25px;
  height:17px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u20833 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20833_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u20834_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:573px;
  background:-webkit-linear-gradient(270deg, rgba(90, 56, 149, 1) 0%, rgba(92, 88, 100, 1) 99%);
  background:-moz-linear-gradient(180deg, rgba(90, 56, 149, 1) 0%, rgba(92, 88, 100, 1) 99%);
  background:linear-gradient(180deg, rgba(90, 56, 149, 1) 0%, rgba(92, 88, 100, 1) 99%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u20834 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:866px;
  width:71px;
  height:573px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u20834 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20834_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20835_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:125px;
  background:-webkit-linear-gradient(180deg, rgba(85, 142, 215, 1) 50%, rgba(24, 144, 255, 1) 98%);
  background:-moz-linear-gradient(270deg, rgba(85, 142, 215, 1) 50%, rgba(24, 144, 255, 1) 98%);
  background:linear-gradient(270deg, rgba(85, 142, 215, 1) 50%, rgba(24, 144, 255, 1) 98%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u20835 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:742px;
  width:71px;
  height:125px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u20835 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20835_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20836_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u20836 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:789px;
  width:128px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u20836 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20836_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20837_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u20837 {
  border-width:0px;
  position:absolute;
  left:1095px;
  top:787px;
  width:113px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u20837 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20837_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u20838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:61px;
}
#u20838 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:957px;
  width:148px;
  height:61px;
  display:flex;
}
#u20838 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20838_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20839_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u20839 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:972px;
  width:170px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u20839 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20839_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20840 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:988px;
  width:0px;
  height:0px;
}
#u20840_seg0 {
  border-width:0px;
  position:absolute;
  left:-166px;
  top:-5px;
  width:171px;
  height:10px;
}
#u20840_seg1 {
  border-width:0px;
  position:absolute;
  left:-174px;
  top:-9px;
  width:18px;
  height:18px;
}
#u20840_text {
  border-width:0px;
  position:absolute;
  left:-133px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u20841_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u20841 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:1336px;
  width:94px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u20841 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20841_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20842 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:1004px;
  width:0px;
  height:0px;
}
#u20842_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:337px;
}
#u20842_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:322px;
  width:18px;
  height:18px;
}
#u20842_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:158px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20843 {
  border-width:0px;
  position:absolute;
  left:1031px;
  top:821px;
  width:0px;
  height:0px;
}
#u20843_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:64px;
}
#u20843_seg1 {
  border-width:0px;
  position:absolute;
  left:-296px;
  top:54px;
  width:301px;
  height:10px;
}
#u20843_seg2 {
  border-width:0px;
  position:absolute;
  left:-296px;
  top:54px;
  width:10px;
  height:82px;
}
#u20843_seg3 {
  border-width:0px;
  position:absolute;
  left:-300px;
  top:126px;
  width:18px;
  height:18px;
}
#u20843_text {
  border-width:0px;
  position:absolute;
  left:-204px;
  top:51px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20844 {
  border-width:0px;
  position:absolute;
  left:796px;
  top:679px;
  width:0px;
  height:0px;
}
#u20844_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:240px;
  height:10px;
}
#u20844_seg1 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:-5px;
  width:10px;
  height:115px;
}
#u20844_seg2 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:100px;
  width:18px;
  height:18px;
}
#u20844_text {
  border-width:0px;
  position:absolute;
  left:122px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20845_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:183px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u20845 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:1092px;
  width:304px;
  height:183px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u20845 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20845_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20846 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:1018px;
  width:0px;
  height:0px;
}
#u20846_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:79px;
}
#u20846_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:64px;
  width:18px;
  height:18px;
}
#u20846_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:30px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u20847_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u20847 {
  border-width:0px;
  position:absolute;
  left:654px;
  top:1336px;
  width:136px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u20847 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20847_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20848_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u20848 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:1368px;
  width:312px;
  height:140px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u20848 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20848_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u20849 {
  border-width:0px;
  position:absolute;
  left:462px;
  top:1352px;
  width:0px;
  height:0px;
}
#u20849_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:197px;
  height:10px;
}
#u20849_seg1 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:-9px;
  width:18px;
  height:18px;
}
#u20849_text {
  border-width:0px;
  position:absolute;
  left:46px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20850_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:32px;
  background:inherit;
  background-color:rgba(53, 170, 66, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u20850 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:789px;
  width:136px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u20850 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20850_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20851 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:805px;
  width:0px;
  height:0px;
}
#u20851_seg0 {
  border-width:0px;
  position:absolute;
  left:-171px;
  top:-5px;
  width:176px;
  height:10px;
}
#u20851_seg1 {
  border-width:0px;
  position:absolute;
  left:-179px;
  top:-9px;
  width:18px;
  height:18px;
}
#u20851_text {
  border-width:0px;
  position:absolute;
  left:-136px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20852_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u20852 {
  border-width:0px;
  position:absolute;
  left:867px;
  top:789px;
  width:25px;
  height:17px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u20852 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20852_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u20853_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u20853 {
  border-width:0px;
  position:absolute;
  left:477px;
  top:1335px;
  width:25px;
  height:17px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u20853 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20853_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u20854 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:454px;
  width:0px;
  height:0px;
}
#u20854_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:861px;
  height:10px;
}
#u20854_text {
  border-width:0px;
  position:absolute;
  left:378px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20855 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:625px;
  width:0px;
  height:0px;
}
#u20855_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:861px;
  height:10px;
}
#u20855_text {
  border-width:0px;
  position:absolute;
  left:378px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20856 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:742px;
  width:0px;
  height:0px;
}
#u20856_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:861px;
  height:10px;
}
#u20856_text {
  border-width:0px;
  position:absolute;
  left:378px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20857 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:866px;
  width:0px;
  height:0px;
}
#u20857_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:861px;
  height:10px;
}
#u20857_text {
  border-width:0px;
  position:absolute;
  left:378px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20858_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1228px;
}
#u20858 {
  border-width:0px;
  position:absolute;
  left:1170px;
  top:212px;
  width:1px;
  height:1227px;
  display:flex;
}
#u20858 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20858_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20859_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:867px;
  height:2px;
}
#u20859 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:1440px;
  width:866px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.181225881814287deg);
  -moz-transform:rotate(0.181225881814287deg);
  -ms-transform:rotate(0.181225881814287deg);
  transform:rotate(0.181225881814287deg);
}
#u20859 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20859_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20860_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:865px;
  height:2px;
}
#u20860 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:208px;
  width:864px;
  height:1px;
  display:flex;
}
#u20860 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20860_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20861_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1228px;
}
#u20861 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:208px;
  width:1px;
  height:1227px;
  display:flex;
}
#u20861 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20861_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20862_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1228px;
}
#u20862 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:208px;
  width:1px;
  height:1227px;
  display:flex;
}
#u20862 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20862_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20863_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:52px;
  background:-webkit-linear-gradient(270deg, rgba(111, 150, 210, 1) 0%, rgba(197, 198, 204, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(111, 150, 210, 1) 0%, rgba(197, 198, 204, 1) 100%);
  background:linear-gradient(180deg, rgba(111, 150, 210, 1) 0%, rgba(197, 198, 204, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20863 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:156px;
  width:248px;
  height:52px;
  display:flex;
}
#u20863 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20863_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20864_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:53px;
  background:-webkit-linear-gradient(270deg, rgba(106, 76, 227, 1) 0%, rgba(240, 235, 235, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(106, 76, 227, 1) 0%, rgba(240, 235, 235, 1) 100%);
  background:linear-gradient(180deg, rgba(106, 76, 227, 1) 0%, rgba(240, 235, 235, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20864 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:156px;
  width:376px;
  height:53px;
  display:flex;
}
#u20864 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20864_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20865_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:53px;
  background:-webkit-linear-gradient(270deg, rgba(236, 179, 27, 1) 10%, rgba(161, 157, 157, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(236, 179, 27, 1) 10%, rgba(161, 157, 157, 1) 100%);
  background:linear-gradient(180deg, rgba(236, 179, 27, 1) 10%, rgba(161, 157, 157, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20865 {
  border-width:0px;
  position:absolute;
  left:931px;
  top:156px;
  width:240px;
  height:53px;
  display:flex;
}
#u20865 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20865_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20866_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u20866 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:170px;
  width:52px;
  height:21px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u20866 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20866_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u20867_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-style:normal;
  color:#FFFFFF;
}
#u20867 {
  border-width:0px;
  position:absolute;
  left:684px;
  top:170px;
  width:77px;
  height:25px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-style:normal;
  color:#FFFFFF;
}
#u20867 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20867_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u20868_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u20868 {
  border-width:0px;
  position:absolute;
  left:1015px;
  top:172px;
  width:73px;
  height:21px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u20868 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20868_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u20869_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u20869 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:279px;
  width:84px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u20869 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20869_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20870_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u20870 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:410px;
  width:198px;
  height:100px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u20870 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20870_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20871_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u20871 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:306px;
  width:198px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u20871 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20871_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20872_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:214px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-style:normal;
}
#u20872 {
  border-width:0px;
  position:absolute;
  left:1210px;
  top:156px;
  width:384px;
  height:214px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-style:normal;
}
#u20872 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20872_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u20873_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:32px;
  background:inherit;
  background-color:rgba(53, 170, 66, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u20873 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:460px;
  width:136px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u20873 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20873_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20874_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u20874 {
  border-width:0px;
  position:absolute;
  left:1208px;
  top:787px;
  width:75px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u20874 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20874_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u20875_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u20875 {
  border-width:0px;
  position:absolute;
  left:818px;
  top:460px;
  width:113px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u20875 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20875_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u20876_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:626px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u20876 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:1660px;
  width:626px;
  height:80px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u20876 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20876_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u20877_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u20877 {
  border-width:0px;
  position:absolute;
  left:1208px;
  top:915px;
  width:1px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u20877 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20877_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u20878_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u20878 {
  border-width:0px;
  position:absolute;
  left:606px;
  top:1540px;
  width:155px;
  height:80px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u20878 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20878_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u20879_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u20879 {
  border-width:0px;
  position:absolute;
  left:643px;
  top:512px;
  width:170px;
  height:56px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u20879 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20879_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20880 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:492px;
  width:0px;
  height:0px;
}
#u20880_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:25px;
}
#u20880_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:10px;
  width:18px;
  height:18px;
}
#u20880_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:2px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20881 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:568px;
  width:0px;
  height:0px;
}
#u20881_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:24px;
}
#u20881_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:9px;
  width:18px;
  height:18px;
}
#u20881_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:2px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20882_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u20882 {
  border-width:0px;
  position:absolute;
  left:818px;
  top:1540px;
  width:183px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u20882 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20882_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u20883_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u20883 {
  border-width:0px;
  position:absolute;
  left:1029px;
  top:1485px;
  width:290px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u20883 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20883_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u20884_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u20884 {
  border-width:0px;
  position:absolute;
  left:1306px;
  top:787px;
  width:211px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u20884 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20884_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u20885_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u20885 {
  border-width:0px;
  position:absolute;
  left:1210px;
  top:332px;
  width:144px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u20885 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20885_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
