body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-17px;
  width:1577px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u20315_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:299px;
}
#u20315 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:156px;
  width:71px;
  height:299px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#FFFFFF;
}
#u20315 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20315_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20316_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:172px;
}
#u20316 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:454px;
  width:71px;
  height:172px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u20316 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20316_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20317_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:118px;
}
#u20317 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:625px;
  width:71px;
  height:118px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u20317 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20317_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20318_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u20318 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:247px;
  width:124px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u20318 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20318_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20319_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u20319 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:320px;
  width:124px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u20319 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20319_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20320_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u20320 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:320px;
  width:124px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u20320 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20320_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20321_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u20321 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:320px;
  width:124px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u20321 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20321_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20322 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:336px;
  width:0px;
  height:0px;
}
#u20322_seg0 {
  border-width:0px;
  position:absolute;
  left:-189px;
  top:-5px;
  width:194px;
  height:10px;
}
#u20322_seg1 {
  border-width:0px;
  position:absolute;
  left:-197px;
  top:-9px;
  width:18px;
  height:18px;
}
#u20322_text {
  border-width:0px;
  position:absolute;
  left:-144px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20323 {
  border-width:0px;
  position:absolute;
  left:790px;
  top:336px;
  width:0px;
  height:0px;
}
#u20323_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:182px;
  height:10px;
}
#u20323_seg1 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:-9px;
  width:18px;
  height:18px;
}
#u20323_text {
  border-width:0px;
  position:absolute;
  left:38px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20324 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:279px;
  width:0px;
  height:0px;
}
#u20324_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:46px;
}
#u20324_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:31px;
  width:18px;
  height:18px;
}
#u20324_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20325_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u20325 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:394px;
  width:124px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u20325 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20325_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20326 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:352px;
  width:0px;
  height:0px;
}
#u20326_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:63px;
}
#u20326_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:53px;
  width:230px;
  height:10px;
}
#u20326_seg2 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:49px;
  width:18px;
  height:18px;
}
#u20326_text {
  border-width:0px;
  position:absolute;
  left:34px;
  top:50px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20327 {
  border-width:0px;
  position:absolute;
  left:1029px;
  top:352px;
  width:0px;
  height:0px;
}
#u20327_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:63px;
}
#u20327_seg1 {
  border-width:0px;
  position:absolute;
  left:-239px;
  top:53px;
  width:244px;
  height:10px;
}
#u20327_seg2 {
  border-width:0px;
  position:absolute;
  left:-247px;
  top:49px;
  width:18px;
  height:18px;
}
#u20327_text {
  border-width:0px;
  position:absolute;
  left:-140px;
  top:50px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20328_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u20328 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:663px;
  width:170px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u20328 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20328_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20329_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u20329 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:587px;
  width:136px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u20329 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20329_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20330_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u20330 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:663px;
  width:136px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u20330 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20330_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20331 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:679px;
  width:0px;
  height:0px;
}
#u20331_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:165px;
  height:10px;
}
#u20331_seg1 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:-9px;
  width:18px;
  height:18px;
}
#u20331_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20332_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u20332 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:663px;
  width:25px;
  height:17px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u20332 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20332_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u20333_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:573px;
  background:-webkit-linear-gradient(270deg, rgba(90, 56, 149, 1) 0%, rgba(92, 88, 100, 1) 99%);
  background:-moz-linear-gradient(180deg, rgba(90, 56, 149, 1) 0%, rgba(92, 88, 100, 1) 99%);
  background:linear-gradient(180deg, rgba(90, 56, 149, 1) 0%, rgba(92, 88, 100, 1) 99%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u20333 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:866px;
  width:71px;
  height:573px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u20333 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20333_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20334_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:125px;
  background:-webkit-linear-gradient(180deg, rgba(85, 142, 215, 1) 50%, rgba(24, 144, 255, 1) 98%);
  background:-moz-linear-gradient(270deg, rgba(85, 142, 215, 1) 50%, rgba(24, 144, 255, 1) 98%);
  background:linear-gradient(270deg, rgba(85, 142, 215, 1) 50%, rgba(24, 144, 255, 1) 98%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u20334 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:742px;
  width:71px;
  height:125px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u20334 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20334_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20335_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u20335 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:789px;
  width:128px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u20335 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20335_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20336_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u20336 {
  border-width:0px;
  position:absolute;
  left:1095px;
  top:787px;
  width:113px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u20336 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20336_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u20337_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:61px;
}
#u20337 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:957px;
  width:148px;
  height:61px;
  display:flex;
}
#u20337 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20337_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20338_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u20338 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:972px;
  width:170px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u20338 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20338_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20339 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:988px;
  width:0px;
  height:0px;
}
#u20339_seg0 {
  border-width:0px;
  position:absolute;
  left:-166px;
  top:-5px;
  width:171px;
  height:10px;
}
#u20339_seg1 {
  border-width:0px;
  position:absolute;
  left:-174px;
  top:-9px;
  width:18px;
  height:18px;
}
#u20339_text {
  border-width:0px;
  position:absolute;
  left:-133px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u20340_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u20340 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:1336px;
  width:94px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u20340 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20340_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20341 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:1004px;
  width:0px;
  height:0px;
}
#u20341_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:337px;
}
#u20341_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:322px;
  width:18px;
  height:18px;
}
#u20341_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:158px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20342 {
  border-width:0px;
  position:absolute;
  left:1031px;
  top:821px;
  width:0px;
  height:0px;
}
#u20342_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:64px;
}
#u20342_seg1 {
  border-width:0px;
  position:absolute;
  left:-296px;
  top:54px;
  width:301px;
  height:10px;
}
#u20342_seg2 {
  border-width:0px;
  position:absolute;
  left:-296px;
  top:54px;
  width:10px;
  height:82px;
}
#u20342_seg3 {
  border-width:0px;
  position:absolute;
  left:-300px;
  top:126px;
  width:18px;
  height:18px;
}
#u20342_text {
  border-width:0px;
  position:absolute;
  left:-204px;
  top:51px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20343 {
  border-width:0px;
  position:absolute;
  left:796px;
  top:679px;
  width:0px;
  height:0px;
}
#u20343_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:240px;
  height:10px;
}
#u20343_seg1 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:-5px;
  width:10px;
  height:115px;
}
#u20343_seg2 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:100px;
  width:18px;
  height:18px;
}
#u20343_text {
  border-width:0px;
  position:absolute;
  left:122px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20344_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:183px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u20344 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:1092px;
  width:304px;
  height:183px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u20344 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20344_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20345 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:1018px;
  width:0px;
  height:0px;
}
#u20345_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:79px;
}
#u20345_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:64px;
  width:18px;
  height:18px;
}
#u20345_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:30px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u20346_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u20346 {
  border-width:0px;
  position:absolute;
  left:654px;
  top:1336px;
  width:136px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u20346 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20346_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20347_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u20347 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:1368px;
  width:312px;
  height:140px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u20347 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20347_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u20348 {
  border-width:0px;
  position:absolute;
  left:462px;
  top:1352px;
  width:0px;
  height:0px;
}
#u20348_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:197px;
  height:10px;
}
#u20348_seg1 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:-9px;
  width:18px;
  height:18px;
}
#u20348_text {
  border-width:0px;
  position:absolute;
  left:46px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20349_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:32px;
  background:inherit;
  background-color:rgba(53, 170, 66, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u20349 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:789px;
  width:136px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u20349 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20349_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20350 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:805px;
  width:0px;
  height:0px;
}
#u20350_seg0 {
  border-width:0px;
  position:absolute;
  left:-171px;
  top:-5px;
  width:176px;
  height:10px;
}
#u20350_seg1 {
  border-width:0px;
  position:absolute;
  left:-179px;
  top:-9px;
  width:18px;
  height:18px;
}
#u20350_text {
  border-width:0px;
  position:absolute;
  left:-136px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20351_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u20351 {
  border-width:0px;
  position:absolute;
  left:867px;
  top:789px;
  width:25px;
  height:17px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u20351 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20351_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u20352_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u20352 {
  border-width:0px;
  position:absolute;
  left:477px;
  top:1335px;
  width:25px;
  height:17px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u20352 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20352_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u20353 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:454px;
  width:0px;
  height:0px;
}
#u20353_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:861px;
  height:10px;
}
#u20353_text {
  border-width:0px;
  position:absolute;
  left:378px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20354 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:625px;
  width:0px;
  height:0px;
}
#u20354_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:861px;
  height:10px;
}
#u20354_text {
  border-width:0px;
  position:absolute;
  left:378px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20355 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:742px;
  width:0px;
  height:0px;
}
#u20355_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:861px;
  height:10px;
}
#u20355_text {
  border-width:0px;
  position:absolute;
  left:378px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20356 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:866px;
  width:0px;
  height:0px;
}
#u20356_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:861px;
  height:10px;
}
#u20356_text {
  border-width:0px;
  position:absolute;
  left:378px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20357_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1228px;
}
#u20357 {
  border-width:0px;
  position:absolute;
  left:1170px;
  top:212px;
  width:1px;
  height:1227px;
  display:flex;
}
#u20357 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20357_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20358_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:867px;
  height:2px;
}
#u20358 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:1440px;
  width:866px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.181225881814287deg);
  -moz-transform:rotate(0.181225881814287deg);
  -ms-transform:rotate(0.181225881814287deg);
  transform:rotate(0.181225881814287deg);
}
#u20358 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20358_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20359_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:865px;
  height:2px;
}
#u20359 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:208px;
  width:864px;
  height:1px;
  display:flex;
}
#u20359 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20359_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20360_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1228px;
}
#u20360 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:208px;
  width:1px;
  height:1227px;
  display:flex;
}
#u20360 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20360_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20361_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1228px;
}
#u20361 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:208px;
  width:1px;
  height:1227px;
  display:flex;
}
#u20361 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20361_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20362_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:52px;
  background:-webkit-linear-gradient(270deg, rgba(111, 150, 210, 1) 0%, rgba(197, 198, 204, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(111, 150, 210, 1) 0%, rgba(197, 198, 204, 1) 100%);
  background:linear-gradient(180deg, rgba(111, 150, 210, 1) 0%, rgba(197, 198, 204, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20362 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:156px;
  width:248px;
  height:52px;
  display:flex;
}
#u20362 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20362_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20363_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:53px;
  background:-webkit-linear-gradient(270deg, rgba(106, 76, 227, 1) 0%, rgba(240, 235, 235, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(106, 76, 227, 1) 0%, rgba(240, 235, 235, 1) 100%);
  background:linear-gradient(180deg, rgba(106, 76, 227, 1) 0%, rgba(240, 235, 235, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20363 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:156px;
  width:376px;
  height:53px;
  display:flex;
}
#u20363 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20363_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20364_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:53px;
  background:-webkit-linear-gradient(270deg, rgba(236, 179, 27, 1) 10%, rgba(161, 157, 157, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(236, 179, 27, 1) 10%, rgba(161, 157, 157, 1) 100%);
  background:linear-gradient(180deg, rgba(236, 179, 27, 1) 10%, rgba(161, 157, 157, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20364 {
  border-width:0px;
  position:absolute;
  left:931px;
  top:156px;
  width:240px;
  height:53px;
  display:flex;
}
#u20364 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20364_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20365_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u20365 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:170px;
  width:52px;
  height:21px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u20365 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20365_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u20366_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-style:normal;
  color:#FFFFFF;
}
#u20366 {
  border-width:0px;
  position:absolute;
  left:684px;
  top:170px;
  width:77px;
  height:25px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-style:normal;
  color:#FFFFFF;
}
#u20366 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20366_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u20367_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u20367 {
  border-width:0px;
  position:absolute;
  left:1015px;
  top:172px;
  width:73px;
  height:21px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u20367 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20367_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u20368_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u20368 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:279px;
  width:84px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u20368 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20368_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20369_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u20369 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:410px;
  width:198px;
  height:100px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u20369 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20369_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20370_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u20370 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:306px;
  width:198px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u20370 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20370_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20371_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:214px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-style:normal;
}
#u20371 {
  border-width:0px;
  position:absolute;
  left:1210px;
  top:156px;
  width:384px;
  height:214px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-style:normal;
}
#u20371 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20371_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u20372_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:32px;
  background:inherit;
  background-color:rgba(53, 170, 66, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u20372 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:460px;
  width:136px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u20372 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20372_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20373_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u20373 {
  border-width:0px;
  position:absolute;
  left:1208px;
  top:787px;
  width:75px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u20373 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20373_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u20374_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u20374 {
  border-width:0px;
  position:absolute;
  left:818px;
  top:460px;
  width:113px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u20374 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20374_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u20375_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:626px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u20375 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:1660px;
  width:626px;
  height:80px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u20375 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20375_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u20376_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u20376 {
  border-width:0px;
  position:absolute;
  left:1208px;
  top:915px;
  width:1px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u20376 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20376_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u20377_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u20377 {
  border-width:0px;
  position:absolute;
  left:606px;
  top:1540px;
  width:155px;
  height:80px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u20377 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20377_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u20378_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u20378 {
  border-width:0px;
  position:absolute;
  left:643px;
  top:512px;
  width:170px;
  height:56px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u20378 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20378_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20379 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:492px;
  width:0px;
  height:0px;
}
#u20379_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:25px;
}
#u20379_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:10px;
  width:18px;
  height:18px;
}
#u20379_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:2px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20380 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:568px;
  width:0px;
  height:0px;
}
#u20380_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:24px;
}
#u20380_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:9px;
  width:18px;
  height:18px;
}
#u20380_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:2px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20381_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u20381 {
  border-width:0px;
  position:absolute;
  left:818px;
  top:1540px;
  width:183px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u20381 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20381_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u20382_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u20382 {
  border-width:0px;
  position:absolute;
  left:1029px;
  top:1485px;
  width:290px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u20382 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20382_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u20383_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u20383 {
  border-width:0px;
  position:absolute;
  left:1306px;
  top:787px;
  width:211px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u20383 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20383_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u20384_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u20384 {
  border-width:0px;
  position:absolute;
  left:1210px;
  top:332px;
  width:144px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u20384 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20384_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
