
#u2663.disabled {
}
#u2663_img.selectedDisabled {
}
#u2663.selectedDisabled {
}
#u2663_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:13px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2663_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2664_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2664 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:2304px;
  width:64px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2664 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2664_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2665_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1017px;
  height:125px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u2665 {
  border-width:0px;
  position:absolute;
  left:402px;
  top:2336px;
  width:1017px;
  height:125px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u2665 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2665_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u2666 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:2345px;
  width:71px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2666 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2666_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2667_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2667 {
  border-width:0px;
  position:absolute;
  left:1271px;
  top:2346px;
  width:29px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2667 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2667_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2668 label {
  left:0px;
  width:100%;
}
#u2668_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u2668 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:2348px;
  width:47px;
  height:15px;
  display:flex;
}
#u2668 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2668_img.selected {
}
#u2668.selected {
}
#u2668_img.disabled {
}
#u2668.disabled {
}
#u2668_img.selectedDisabled {
}
#u2668.selectedDisabled {
}
#u2668_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:31px;
  word-wrap:break-word;
  text-transform:none;
}
#u2668_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2669 label {
  left:0px;
  width:100%;
}
#u2669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u2669 {
  border-width:0px;
  position:absolute;
  left:847px;
  top:2348px;
  width:47px;
  height:15px;
  display:flex;
}
#u2669 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2669_img.selected {
}
#u2669.selected {
}
#u2669_img.disabled {
}
#u2669.disabled {
}
#u2669_img.selectedDisabled {
}
#u2669.selectedDisabled {
}
#u2669_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:31px;
  word-wrap:break-word;
  text-transform:none;
}
#u2669_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2670 label {
  left:0px;
  width:100%;
}
#u2670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u2670 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:2347px;
  width:29px;
  height:16px;
  display:flex;
}
#u2670 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2670_img.selected {
}
#u2670.selected {
}
#u2670_img.disabled {
}
#u2670.disabled {
}
#u2670_img.selectedDisabled {
}
#u2670.selectedDisabled {
}
#u2670_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:13px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2670_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2671 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:18px;
}
#u2672 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:2386px;
  width:190px;
  height:18px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2672 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2672_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2673_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2673 {
  border-width:0px;
  position:absolute;
  left:1272px;
  top:2387px;
  width:29px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2673 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2673_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2674 label {
  left:0px;
  width:100%;
}
#u2674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u2674 {
  border-width:0px;
  position:absolute;
  left:801px;
  top:2389px;
  width:47px;
  height:15px;
  display:flex;
}
#u2674 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2674_img.selected {
}
#u2674.selected {
}
#u2674_img.disabled {
}
#u2674.disabled {
}
#u2674_img.selectedDisabled {
}
#u2674.selectedDisabled {
}
#u2674_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:31px;
  word-wrap:break-word;
  text-transform:none;
}
#u2674_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2675 label {
  left:0px;
  width:100%;
}
#u2675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u2675 {
  border-width:0px;
  position:absolute;
  left:848px;
  top:2389px;
  width:47px;
  height:15px;
  display:flex;
}
#u2675 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2675_img.selected {
}
#u2675.selected {
}
#u2675_img.disabled {
}
#u2675.disabled {
}
#u2675_img.selectedDisabled {
}
#u2675.selectedDisabled {
}
#u2675_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:31px;
  word-wrap:break-word;
  text-transform:none;
}
#u2675_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2676 label {
  left:0px;
  width:100%;
}
#u2676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u2676 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:2388px;
  width:29px;
  height:16px;
  display:flex;
}
#u2676 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2676_img.selected {
}
#u2676.selected {
}
#u2676_img.disabled {
}
#u2676.disabled {
}
#u2676_img.selectedDisabled {
}
#u2676.selectedDisabled {
}
#u2676_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:13px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2676_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2677_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2677 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:2187px;
  width:57px;
  height:20px;
  display:flex;
}
#u2677 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2677_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2678 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2679_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:18px;
}
#u2679 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:2427px;
  width:190px;
  height:18px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2679 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2679_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2680_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2680 {
  border-width:0px;
  position:absolute;
  left:1271px;
  top:2428px;
  width:29px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2680 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2680_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2681 label {
  left:0px;
  width:100%;
}
#u2681_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u2681 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:2430px;
  width:47px;
  height:15px;
  display:flex;
}
#u2681 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2681_img.selected {
}
#u2681.selected {
}
#u2681_img.disabled {
}
#u2681.disabled {
}
#u2681_img.selectedDisabled {
}
#u2681.selectedDisabled {
}
#u2681_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:31px;
  word-wrap:break-word;
  text-transform:none;
}
#u2681_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2682 label {
  left:0px;
  width:100%;
}
#u2682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u2682 {
  border-width:0px;
  position:absolute;
  left:847px;
  top:2430px;
  width:47px;
  height:15px;
  display:flex;
}
#u2682 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2682_img.selected {
}
#u2682.selected {
}
#u2682_img.disabled {
}
#u2682.disabled {
}
#u2682_img.selectedDisabled {
}
#u2682.selectedDisabled {
}
#u2682_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:31px;
  word-wrap:break-word;
  text-transform:none;
}
#u2682_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2683 label {
  left:0px;
  width:100%;
}
#u2683_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u2683 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:2429px;
  width:29px;
  height:16px;
  display:flex;
}
#u2683 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2683_img.selected {
}
#u2683.selected {
}
#u2683_img.disabled {
}
#u2683.disabled {
}
#u2683_img.selectedDisabled {
}
#u2683.selectedDisabled {
}
#u2683_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:13px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2683_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2684_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2684 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:2471px;
  width:29px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2684 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2684_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2685_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1017px;
  height:125px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u2685 {
  border-width:0px;
  position:absolute;
  left:402px;
  top:2503px;
  width:1017px;
  height:125px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u2685 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2685_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2686_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u2686 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:2512px;
  width:71px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2686 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2686_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2687_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2687 {
  border-width:0px;
  position:absolute;
  left:1271px;
  top:2513px;
  width:29px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2687 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2687_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2688 label {
  left:0px;
  width:100%;
}
#u2688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u2688 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:2515px;
  width:47px;
  height:15px;
  display:flex;
}
#u2688 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2688_img.selected {
}
#u2688.selected {
}
#u2688_img.disabled {
}
#u2688.disabled {
}
#u2688_img.selectedDisabled {
}
#u2688.selectedDisabled {
}
#u2688_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:31px;
  word-wrap:break-word;
  text-transform:none;
}
#u2688_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2689 label {
  left:0px;
  width:100%;
}
#u2689_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u2689 {
  border-width:0px;
  position:absolute;
  left:847px;
  top:2515px;
  width:47px;
  height:15px;
  display:flex;
}
#u2689 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2689_img.selected {
}
#u2689.selected {
}
#u2689_img.disabled {
}
#u2689.disabled {
}
#u2689_img.selectedDisabled {
}
#u2689.selectedDisabled {
}
#u2689_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:31px;
  word-wrap:break-word;
  text-transform:none;
}
#u2689_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2690 label {
  left:0px;
  width:100%;
}
#u2690_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u2690 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:2514px;
  width:29px;
  height:16px;
  display:flex;
}
#u2690 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2690_img.selected {
}
#u2690.selected {
}
#u2690_img.disabled {
}
#u2690.disabled {
}
#u2690_img.selectedDisabled {
}
#u2690.selectedDisabled {
}
#u2690_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:13px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2690_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2691 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2692_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:18px;
}
#u2692 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:2553px;
  width:112px;
  height:18px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2692 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2692_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2693_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2693 {
  border-width:0px;
  position:absolute;
  left:1272px;
  top:2554px;
  width:29px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2693 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2693_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2694 label {
  left:0px;
  width:100%;
}
#u2694_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u2694 {
  border-width:0px;
  position:absolute;
  left:801px;
  top:2556px;
  width:47px;
  height:15px;
  display:flex;
}
#u2694 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2694_img.selected {
}
#u2694.selected {
}
#u2694_img.disabled {
}
#u2694.disabled {
}
#u2694_img.selectedDisabled {
}
#u2694.selectedDisabled {
}
#u2694_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:31px;
  word-wrap:break-word;
  text-transform:none;
}
#u2694_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2695 label {
  left:0px;
  width:100%;
}
#u2695_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u2695 {
  border-width:0px;
  position:absolute;
  left:848px;
  top:2556px;
  width:47px;
  height:15px;
  display:flex;
}
#u2695 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2695_img.selected {
}
#u2695.selected {
}
#u2695_img.disabled {
}
#u2695.disabled {
}
#u2695_img.selectedDisabled {
}
#u2695.selectedDisabled {
}
#u2695_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:31px;
  word-wrap:break-word;
  text-transform:none;
}
#u2695_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2696 label {
  left:0px;
  width:100%;
}
#u2696_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u2696 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:2555px;
  width:29px;
  height:16px;
  display:flex;
}
#u2696 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2696_img.selected {
}
#u2696.selected {
}
#u2696_img.disabled {
}
#u2696.disabled {
}
#u2696_img.selectedDisabled {
}
#u2696.selectedDisabled {
}
#u2696_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:13px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2696_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2697 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2698_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:18px;
}
#u2698 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:2594px;
  width:112px;
  height:18px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2698 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2698_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2699_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2699 {
  border-width:0px;
  position:absolute;
  left:1271px;
  top:2595px;
  width:29px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2699 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2699_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2700 label {
  left:0px;
  width:100%;
}
#u2700_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u2700 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:2597px;
  width:47px;
  height:15px;
  display:flex;
}
#u2700 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2700_img.selected {
}
#u2700.selected {
}
#u2700_img.disabled {
}
#u2700.disabled {
}
#u2700_img.selectedDisabled {
}
#u2700.selectedDisabled {
}
#u2700_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:31px;
  word-wrap:break-word;
  text-transform:none;
}
#u2700_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2701 label {
  left:0px;
  width:100%;
}
#u2701_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u2701 {
  border-width:0px;
  position:absolute;
  left:847px;
  top:2597px;
  width:47px;
  height:15px;
  display:flex;
}
#u2701 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2701_img.selected {
}
#u2701.selected {
}
#u2701_img.disabled {
}
#u2701.disabled {
}
#u2701_img.selectedDisabled {
}
#u2701.selectedDisabled {
}
#u2701_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:31px;
  word-wrap:break-word;
  text-transform:none;
}
#u2701_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2702 label {
  left:0px;
  width:100%;
}
#u2702_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u2702 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:2596px;
  width:29px;
  height:16px;
  display:flex;
}
#u2702 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2702_img.selected {
}
#u2702.selected {
}
#u2702_img.disabled {
}
#u2702.disabled {
}
#u2702_img.selectedDisabled {
}
#u2702.selectedDisabled {
}
#u2702_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:13px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2702_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2703 {
  border-width:0px;
  position:absolute;
  left:1530px;
  top:273px;
  width:448px;
  height:473px;
}
#u2704_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:64px;
}
#u2704 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:64px;
  display:flex;
}
#u2704 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2704_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2705_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:64px;
}
#u2705 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:176px;
  height:64px;
  display:flex;
}
#u2705 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2705_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2706_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:64px;
}
#u2706 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:0px;
  width:172px;
  height:64px;
  display:flex;
}
#u2706 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2706_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2707_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u2707 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:100px;
  height:45px;
  display:flex;
}
#u2707 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2707_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2708_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:45px;
}
#u2708 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:64px;
  width:176px;
  height:45px;
  display:flex;
}
#u2708 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2708_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2709_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:45px;
}
#u2709 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:64px;
  width:172px;
  height:45px;
  display:flex;
}
#u2709 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2709_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2710_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u2710 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:109px;
  width:100px;
  height:45px;
  display:flex;
}
#u2710 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2710_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2711_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:45px;
}
#u2711 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:109px;
  width:176px;
  height:45px;
  display:flex;
}
#u2711 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2711_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2712_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:45px;
}
#u2712 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:109px;
  width:172px;
  height:45px;
  display:flex;
}
#u2712 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2712_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2713_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u2713 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:154px;
  width:100px;
  height:45px;
  display:flex;
}
#u2713 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2713_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2714_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:45px;
}
#u2714 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:154px;
  width:176px;
  height:45px;
  display:flex;
}
#u2714 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2714_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2715_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:45px;
}
#u2715 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:154px;
  width:172px;
  height:45px;
  display:flex;
}
#u2715 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2715_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2716_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u2716 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:199px;
  width:100px;
  height:45px;
  display:flex;
}
#u2716 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2716_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2717_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:45px;
}
#u2717 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:199px;
  width:176px;
  height:45px;
  display:flex;
}
#u2717 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2717_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2718_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:45px;
}
#u2718 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:199px;
  width:172px;
  height:45px;
  display:flex;
}
#u2718 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2718_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2719_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u2719 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:244px;
  width:100px;
  height:45px;
  display:flex;
}
#u2719 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2719_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2720_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:45px;
}
#u2720 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:244px;
  width:176px;
  height:45px;
  display:flex;
}
#u2720 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2720_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2721_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:45px;
}
#u2721 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:244px;
  width:172px;
  height:45px;
  display:flex;
}
#u2721 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2721_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2722_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u2722 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:289px;
  width:100px;
  height:45px;
  display:flex;
}
#u2722 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2722_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2723_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:45px;
}
#u2723 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:289px;
  width:176px;
  height:45px;
  display:flex;
}
#u2723 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2723_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2724_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:45px;
}
#u2724 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:289px;
  width:172px;
  height:45px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2724 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2724_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2725_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:49px;
}
#u2725 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:334px;
  width:100px;
  height:49px;
  display:flex;
}
#u2725 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2725_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2726_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:49px;
}
#u2726 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:334px;
  width:176px;
  height:49px;
  display:flex;
}
#u2726 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2726_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2727_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:49px;
}
#u2727 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:334px;
  width:172px;
  height:49px;
  display:flex;
}
#u2727 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2727_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2728_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u2728 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:383px;
  width:100px;
  height:45px;
  display:flex;
}
#u2728 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2728_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2729_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:45px;
}
#u2729 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:383px;
  width:176px;
  height:45px;
  display:flex;
}
#u2729 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2729_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2730_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:45px;
}
#u2730 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:383px;
  width:172px;
  height:45px;
  display:flex;
}
#u2730 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2730_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2731_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u2731 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:428px;
  width:100px;
  height:45px;
  display:flex;
}
#u2731 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2731_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2732_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:45px;
}
#u2732 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:428px;
  width:176px;
  height:45px;
  display:flex;
}
#u2732 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2732_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2733_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:45px;
}
#u2733 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:428px;
  width:172px;
  height:45px;
  display:flex;
}
#u2733 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2733_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
