body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-23px;
  width:575px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u23690_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:575px;
  height:561px;
}
#u23690 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:21px;
  width:575px;
  height:561px;
  display:flex;
}
#u23690 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23690_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
